In [1]:
import pandas as pd
train = pd.read_csv('train.csv')
train = pd.read_csv('test.csv')

In [2]:
train.dtypes

ID                 int64
Age                int64
Workclass         object
Education         object
Marital.Status    object
Occupation        object
Relationship      object
Race              object
Sex               object
Hours.Per.Week     int64
Native.Country    object
dtype: object

In [3]:
train.describe()

                 ID           Age  Hours.Per.Week
count  16281.000000  16281.000000    16281.000000
mean   40702.000000     38.767459       40.392236
std     4700.064202     13.849187       12.479332
min    32562.000000     17.000000        1.000000
25%    36632.000000     28.000000       40.000000
50%    40702.000000     37.000000       40.000000
75%    44772.000000     48.000000       45.000000
max    48842.000000     90.000000       99.000000

In [4]:
categorical_variables = train.dtypes.loc[train.dtypes=='object'].index
print (categorical_variables)

Index(['Workclass', 'Education', 'Marital.Status', 'Occupation',
       'Relationship', 'Race', 'Sex', 'Native.Country'],
      dtype='object')

In [7]:
train[categorical_variables].apply(lambda x: len(x.unique()))

Workclass          9
Education         16
Marital.Status     7
Occupation        15
Relationship       6
Race               5
Sex                2
Native.Country    41
dtype: int64

In [8]:
train['Race'].value_counts()

White                 13946
Black                  1561
Asian-Pac-Islander      480
Amer-Indian-Eskimo      159
Other                   135
Name: Race, dtype: int64

In [9]:
train['Race'].value_counts()/train.shape[0]

White                 0.856581
Black                 0.095879
Asian-Pac-Islander    0.029482
Amer-Indian-Eskimo    0.009766
Other                 0.008292
Name: Race, dtype: float64

In [10]:
train['Native.Country'].value_counts()

United-States                 14662
Mexico                          308
Philippines                      97
Puerto-Rico                      70
Germany                          69
Canada                           61
India                            51
El-Salvador                      49
China                            47
Cuba                             43
England                          37
South                            35
Dominican-Republic               33
Italy                            32
Haiti                            31
Japan                            30
Portugal                         30
Poland                           27
Columbia                         26
Jamaica                          25
Guatemala                        24
Greece                           20
Vietnam                          19
Ecuador                          17
Iran                             16
Peru                             15
Nicaragua                        15
Taiwan                           14
Ireland                          13
Thailand                         12
Hong                             10
Cambodia                          9
Outlying-US(Guam-USVI-etc)        9
France                            9
Scotland                          9
Trinadad&Tobago                   8
Honduras                          7
Yugoslavia                        7
Hungary                           6
Laos                              5
Name: Native.Country, dtype: int64

In [11]:
train['Native.Country'].value_counts()/train.shape[0]

United-States                 0.900559
Mexico                        0.018918
Philippines                   0.005958
Puerto-Rico                   0.004299
Germany                       0.004238
Canada                        0.003747
India                         0.003132
El-Salvador                   0.003010
China                         0.002887
Cuba                          0.002641
England                       0.002273
South                         0.002150
Dominican-Republic            0.002027
Italy                         0.001965
Haiti                         0.001904
Japan                         0.001843
Portugal                      0.001843
Poland                        0.001658
Columbia                      0.001597
Jamaica                       0.001536
Guatemala                     0.001474
Greece                        0.001228
Vietnam                       0.001167
Ecuador                       0.001044
Iran                          0.000983
Peru                          0.000921
Nicaragua                     0.000921
Taiwan                        0.000860
Ireland                       0.000798
Thailand                      0.000737
Hong                          0.000614
Cambodia                      0.000553
Outlying-US(Guam-USVI-etc)    0.000553
France                        0.000553
Scotland                      0.000553
Trinadad&Tobago               0.000491
Honduras                      0.000430
Yugoslavia                    0.000430
Hungary                       0.000369
Laos                          0.000307
Name: Native.Country, dtype: float64