In [5]:
n = int(input().strip())
arr = [arr_temp for arr_temp in input().strip().split(' ')]

231
asd 234 234 23

In [6]:
arr

['asd', '234', '234', '23']

In [7]:
arr[1]

'234'

In [11]:
ls = []
n = int(input())
for x in range(n):
    arr = [arr_temp for arr_temp in input().strip().split(' ')]
    ls.append(arr)

3
asdas 34
asds 34 545 2342
sdfs 34 23

In [12]:
ls

[['asdas', '34'], ['asds', '34', '545', '2342'], ['sdfs', '34', '23']]

In [14]:
ls

[['asdas', '34'], ['asds', '34', '545', '2342'], ['sdfs', '34', '23']]

In [15]:
ls[0]

['asdas', '34']

In [16]:
'asdas' in ls[0]

True

In [17]:
ls = []
n = int(input())
for x in range(n):
    arr = [arr_temp for arr_temp in input().strip().split(' ')]
    ls.append(arr)

3
Krishna 67 68 69
Arjun 70 98 63
Malika 52 56 60

In [29]:
s = input()
for i in range(len(ls)):
    for j in ls[i]:
        if j==s:
            temp = ls[i]
            
sum = int(temp[1])+int(temp[2])+int(temp[3])
print(sum/3)

Malika
56.0

In [23]:
temp

['Krishna', '67', '68', '69']

In [25]:
sum = int(temp[1])+int(temp[2])+int(temp[3])

In [26]:
sum

204

In [27]:
av = sum/3

In [28]:
av

68.0

In [ ]:
"""Solved"""
ls = []
n = int(input())
for x in range(n):
    arr = [arr_temp for arr_temp in input().strip().split(' ')]
    ls.append(arr)
s = input()
for i in range(len(ls)):
    for j in ls[i]:
        if j==s:
            temp = ls[i]
            
sum = float(temp[1])+float(temp[2])+float(temp[3])
av = sum/3
print("%.2f"%av)

In [1]:
"""Solved"""
ls = []
n = int(input())
for x in range(n):
    arr = [arr_temp for arr_temp in input().strip().split(' ')]
    ls.append(arr)
s = input()
for i in range(len(ls)):
    for j in ls[i]:
        if j==s:
            temp = ls[i]
            
sum = float(temp[1])+float(temp[2])+float(temp[3])
av = sum/3
print("%.2f"%av)

3
Krishna 67 68 69
Arjun 70 98 63
Malika 52 56 60
Malika
56.00

In [7]:
#Tonys code:

if __name__ == '__main__':
    n = int(input())
    student_marks = {}
    for _ in range(n):
        name, *line = input().split()
        scores = list(map(float, line))
        student_marks[name] = scores
    query_name = input()
    s=(sum(student_marks[query_name])/len(student_marks[query_name]))
    print("%.2f" % s)

3
r 34 43 35
j 32 12 36
e 36 56 76
j

TypeError: 'float' object is not callable

In [9]:
#take two tony
if __name__ == '__main__':
    n = int(input())
    student_marks = {}
    for _ in range(n):
        name, *line = input().split()
        scores = list(map(float, line))
        student_marks[name] = scores
    query_name = input()
    s=(sum(student_marks[query_name])/len(student_marks[query_name]))
    print("%.2f" % s)

3
Krishna 67 68 69
Arjun 70 98 63
Malika 52 56 60
Malika

TypeError: 'float' object is not callable