In [99]:
ls = []
elem = []
if __name__ == '__main__':
    for _ in range(int(input())):
        elem.append(input())
        elem.append(float(input()))
        ls.append(elem)
        elem=[]

5
Harsh
20
Beria
20
Varun
19
Kakunami
19
Vikas
21

In [100]:
ls

[['Harsh', 20.0],
 ['Beria', 20.0],
 ['Varun', 19.0],
 ['Kakunami', 19.0],
 ['Vikas', 21.0]]

In [101]:
temp = []
for i in range(len(ls)):
    a = ls[i][1]
    temp.append(a)

In [102]:
temp

[20.0, 20.0, 19.0, 19.0, 21.0]

In [107]:
def second_smallest(numbers):
    m1, m2 = float('inf'), float('inf')
    for x in numbers:
        if x <= m1:
            m1, m2 = x, m1
        elif x < m2:
            m2 = x
    return m2

In [108]:
second = second_smallest(temp)

In [109]:
second

19.0

In [ ]:
works = [37.21,37.21,37.2,41,39]

In [105]:
names = []
for i in range(len(ls)):
    if second in ls[i]:
        names.append(ls[i][0])

In [106]:
names

['Varun', 'Kakunami']

In [93]:
names.sort()

In [94]:
names

['Berry', 'Harry']

In [97]:
for x in names:
    print (x)

Berry
Harry

In [98]:
ls = []
elem = []
temp = []

def second_smallest(numbers):
    m1, m2 = float('inf'), float('inf')
    for x in numbers:
        if x <= m1:
            m1, m2 = x, m1
        elif x < m2:
            m2 = x
    return m2

if __name__ == '__main__':
    for _ in range(int(input())):
        elem.append(input())
        elem.append(float(input()))
        ls.append(elem)
        elem=[]

    for i in range(len(ls)):
        a = ls[i][1]
        temp.append(a)
    second = second_smallest(temp)
    names = []
    for i in range(len(ls)):
        if second in ls[i]:
            names.append(ls[i][0])
    names.sort()
    for x in names:
        print (x)

5
Harsh
20
Beria
20
Varun
19
Kakunami
19
Vikes
21
Kakunami
Varun