In [1]:
import pandas as pd
train = pd.read_csv('train.csv')
train = pd.read_csv('test.csv')

In [2]:
train.dtypes

ID                 int64
Age                int64
Workclass         object
Education         object
Marital.Status    object
Occupation        object
Relationship      object
Race              object
Sex               object
Hours.Per.Week     int64
Native.Country    object
dtype: object

In [3]:
train.describe()

                 ID           Age  Hours.Per.Week
count  16281.000000  16281.000000    16281.000000
mean   40702.000000     38.767459       40.392236
std     4700.064202     13.849187       12.479332
min    32562.000000     17.000000        1.000000
25%    36632.000000     28.000000       40.000000
50%    40702.000000     37.000000       40.000000
75%    44772.000000     48.000000       45.000000
max    48842.000000     90.000000       99.000000

In [9]:
categorical_variables = train.dtypes.loc[train.dtypes=='object'].index
print (categorical_variables)

Index(['Workclass', 'Education', 'Marital.Status', 'Occupation',
       'Relationship', 'Race', 'Sex', 'Native.Country'],
      dtype='object')